// Page Builder Default
@import "../../../../../libraries/jollyany/framework/scss/jollyany/modules/page-builder";
.sppb-addon-header , .sppb-addon-text-block {
  .sppb-addon-title > span {
    background: transparent;
    color: lighten($colorMain, 40%);
    padding: 0;
    display: flex;
    font-size: 30%;
    font-weight: 500;
    align-items: center;
    &:before {
      content: '';
      width: 50px;
      background-color: lighten($colorMain, 30%);
      height: 2px;
      margin-right: 20px;
    }
  }
}
.sppb-testimonial-carousel {
  .slides {
    position: relative;
    .sppb-slider-item-image {
      width: 100%;
      @media (min-width: map-get($grid-breakpoints, "lg")) {
        padding: 0 55px;
      }
      img {
        @media (min-width: map-get($grid-breakpoints, "lg")) {
          box-shadow: -55px 55px 0 rgba(85, 152, 255, 0.1);
        }
      }
    }
    .sppb-slider-item-inner {
      position: relative;
      background-color: #00256e;
      color: white;
      padding: 40px 50px;
      .quote-icon {
        margin-bottom: 1rem;
        font-size: 30px;
      }
      @media (min-width: map-get($grid-breakpoints, "lg")) {
        position: absolute;
        top: 100%;
        right: 0;
        transform: translateY(-50%);
        width: 70%;
      }
    }
    .flex-control-nav {
      text-align: left;
      bottom: -110px;
      line-height: 1;
      font-size: 1px;
      z-index: 99999;
      margin: 0px -6px;
    }
    .flex-control-paging li a {
      width: 25px;
      height: 2px;
      border-radius: 0;
      &.flex-active {
        background-color: $colorMain;
      }
    }
  }
  ul.owl-carousel {
    padding: 0;
    list-style: none;
    .sppb-slider-item-inner {
      padding: 40px;
    }
  }
}
.sppb-addon-article {
  .sppb-article-info-wrap {
    padding: 10px 30px 20px;
  }
  h3 {
    font-size: 23px;
    font-weight: bolder;
  }
  a.sppb-readmore {
    background-color: #ffc600;
    color: $colorMain;
    padding: 5px 18px;
    font-size: 80%;
    font-weight: bolder;
    margin-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
    &:hover {
      background-color: lighten(#ffc600,10%);
      color: $colorMain;
    }
  }
  .sppb-article-info-wrap {
    margin: -116px 30px 0;
    padding: 25px 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    position: relative;
    background-color: white;
  }
}

.sppb-addon-video-button {
  .video-button {
    -webkit-transition: background-color 0.3s, opacity 0.3s;
    transition: background-color 0.3s, opacity 0.3s;
    position: relative;
    &:hover {
      -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
      transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
      -webkit-animation: anim-moema-1 0.3s forwards;
      animation: anim-moema-1 0.3s forwards;
      &:before {
        -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
        animation: anim-moema-2 0.3s 0.3s forwards;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: -20px;
      left: -20px;
      bottom: -20px;
      right: -20px;
      background: inherit;
      border-radius: 50%;
      z-index: -1;
      opacity: 0.4;
      -webkit-transform: scale3d(0.9, 0.9, 1);
      transform: scale3d(0.9, 0.9, 1);
    }
  }
}

@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.sppb-addon-person.person-content-position-bottom-left {
  .sppb-person-information {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: -50px;
    z-index: 9999;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.jollyany-bottom-section {
  .menu-module {
    li {
      margin-bottom: 12px;
    }
  }
  .sppb-addon-optin-forms .sppb-form-control {
    background-color: white;
    border-color: rgba(0,0,0,0.1);
  }
}

.sppb-link-list-list {
  i {
    min-width: 19px;
  }
}
.sppb-addon-video-button {
  min-height: 400px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}