// Module Breadcrumbs Default
@import "../../../../../../../libraries/jollyany/framework/scss/jollyany/modules/mod_breadcrumbs";
.mod_breadcrumbs .heading-title-page {
  color: inherit;
  font-size: 2.7rem;
  font-weight: 800;
}